<div>
    <form [formGroup] = 'form' (submit)="createProduct()">
        <div class="from-create">
            <div>
                Nombre <input formControlName="name">
            </div>
            <div>
                Descripcion <input formControlName="description">
            </div>
            <div>
                Precio <input formControlName="price">
            </div>
            <div>
                Marca <input formControlName="brand">
            </div>
            <div>
                Imagen <input formControlName="url">
            </div> 
            <div>
                <button  class="btnCreate">Enviar</button>
            </div>
        </div>
    </form>
    <form [formGroup] = 'form' (submit)="updateProduct()">
        <div class="from-update">
            <div>
                Id product actualizar <input formControlName="productId">
            </div>
            <div>
                Nombre <input formControlName="name">
            </div>
            <div>
                Descripcion <input formControlName="description">
            </div>
            <div>
                Precio <input formControlName="price">
            </div>
            <div>
                Marca <input formControlName="brand">
            </div>
            <div>
                Imagen <input formControlName="url">
            </div> 
            <div>
                <button class="btnUpdate">Enviar</button>
            </div>
        </div>
    </form>
</div>