<button (click)="navigation('products', 0)" >Crear producto</button>
<div class="product-grid">
  <div class="product-container" *ngFor="let product of product">
    <div class="header-card">
      <strong> {{ product.name | uppercase}}</strong>
      <button (click)="deleteProduct(product.productId)">Borrar </button>
    </div>
    <img [src]="product.url" alt="">
    <div class="footer-card">
      <button (click)="navigation('products', product.productId)">Opciones de Producto</button>
      <strong>{{ product.price |currency }}</strong>
      <strong>Marca: </strong>{{product.brand }}
      {{ product.description | slice:0:20 }} ...
    </div>
  </div> 
</div>
<div class="modalc">
  <div class="modalc-content">
    <div class="modal-header">
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer"> 
    </div>
  </div>
</div>
